@import url('https://fonts.googleapis.com/css?family=Biryani:300,400,600');
body {
  font-family: 'Biryani', sans-serif;
  background: #fcfcf7
}

.table-bordered {
  border: 1px solid #aaa;
}

.container {
  width: 50%;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 1px 1px 5px #eee;
  background: #fff;
}

tr {
  border: 1px solid #aaa;
}

td {
  text-align: center;
  border: 1px solid #aaa;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

th {
  border: 1px solid #aaa;
}

.panel {
  padding: 0px;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #eee;
}

.swagger--panel-operation-get {
  margin-bottom: 20px;
}

.swagger--panel-operation-get>.panel-heading {
  background: #c6f3dd;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px 0px;
  border: 1px solid #64997f;
  border-radius: 5px 5px 0px 0px;
}

.swagger--panel-operation-post {
  margin-bottom: 20px;
}

.swagger--panel-operation-post>.panel-heading {
  background: #f3ebc6;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px 0px;
  border: 1px solid #a8a26a;
  border-radius: 5px 5px 0px 0px;
}

.panel-title {
  margin: 0px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
}

.panel-title strong {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #444;
  margin-left: 10px;
}

.panel-body {
  padding: 0px 10px;
  background: #fff;
}

.panel-heading {
  background: #e0f9ff;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px 0px;
  border: 1px solid #2e5b69;
  border-radius: 5px 5px 0px 0px;
}

.json-property-name {
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  margin-right: 5px;
  color: #444;
}

p {
  margin: 0px;
}